//Media Queries Width
$media-breackpoint-min-1: 325px;
$media-breackpoint-min-2: 360px;
$media-breackpoint-min-3: 400px;
$media-breackpoint-min-4: 450px;
$media-breackpoint-min-5: 500px;
$media-breackpoint-min-6: 550px;
$media-breackpoint-min-6: 600px;
$media-breackpoint-min-7: 700px;
$media-breackpoint-min-8: 800px;
$media-breackpoint-min-9: 850px;